body {
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: -8px;
  margin-bottom: 0;
  line-height: .75;
}
hr{
  background-color: black;
  border: 1px solid black;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
  color: black;
}
#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
    
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:10;
}
/* END HEADER */

/******Homepage****************/
#menu-categories-title{
  font-family: "Comic Sans MS";
  font-weight: bold;
  margin-bottom: 15px;
}
#main-content div h1{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}
#chicken p, #beef p, #sushi p{
  font-family: "Comic Sans MS";
 
}
#chicken, #beef, #sushi{
  height: 1000px;
  margin-bottom: 20px;
  background-color: gray;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav{
    background-color: white;
    border:1px solid black;
  }
  #collapsable-nav a{
  margin:0;
  font-size: 1.2em;
}
  #chicken, #beef, #sushi{
    width: 450px;
    margin: 0 auto 15px;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  #chicken, #beef, #sushi{
    width: 280px;
    margin: 0 auto 15px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

}
